// drawer
.el-drawer {
	color: var(--el-text-color-primary);
	.el-drawer__header {
		padding: 15px 20px 14px;
		margin-bottom: 0;
		border-bottom: 1px solid var(--el-border-color-lighter);
		span {
			font-size: 17px;
			color: var(--el-text-color-primary);
		}
	}
	.el-divider {
		border-top-color: var(--el-border-color-lighter);
		.el-divider__text {
			transform: translate(-50%, -60%);
		}
	}
}

.sidebar-container {
	// 展开
	.el-menu:not(.el-menu--collapse) {
		.el-sub-menu__title {
			&:hover {
				background: transparent;
				color: var(--el-color-primary);
			}
		}
		.el-menu-item {
			&:hover {
				color: var(--el-color-primary);
				background: transparent;
			}
			&.is-active {
				background: var(--el-color-primary);
				color: #ffffff;
			}
		}
	}
	// 折叠
	.el-menu.el-menu--collapse {
		.el-menu-item.is-active,
		.el-sub-menu.is-active .el-sub-menu__title {
			position: relative;
			background: rgba(var(--el-color-primary-rgb), 0.09);
			color: var(--el-color-primary);
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 2;
				width: 3px;
				content: '';
				background-color: var(--el-color-primary);
			}
		}
		.el-menu-item:not(.is-active):hover,
		.el-sub-menu:not(.is-active) .el-sub-menu__title:hover {
			background: transparent;
			color: var(--el-color-primary);
		}
	}
}
// dark&&header-dark
.sidebar-container.dark {
	--el-menu-bg-color: #001428;
	--el-menu-text-color: #b9b9b9;
	.sidebar-logo-container {
		border-bottom-color: #363637;
		color: #ffffff;
	}
}

// 折叠时popup样式
.el-menu--popup-container {
	.el-menu-item.is-activ,.el-menu-item:hover {
			background-color: transparent;
			color: var(--el-color-primary);
	}
	&.dark {
		.el-menu {
			--el-menu-text-color: #b9b9b9;
			--el-menu-bg-color: #001428;
		}
	}
}

// table
// .el-table {
// 	flex: 1;
// 	table {
// 		width: 100%;
// 	}
// 	.el-table__header th.el-table__cell {
// 		background-color: var(--el-fill-color-light);
// 	}
// }
